@model todoapp.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Todo List</h1>
<ul>
    @foreach (var todo in Model.Todos)
    {
        <li>@todo.Title @todo.Title: @todo.Description</li>
    }
</ul>

<h1>Blog List</h1>
    <ul>
        
        @foreach (var blog in Model.Blogs)
        {
            
            <li>@blog.BlogId @blog.Url</li>
            <ul>
                
                @foreach (var post in blog.Posts){
                    <p>@post</p>
                  <li>@post.Title @post.Content</li>
                }
            </ul>
        }
    </ul>