
@model List<todoapp.Models.Blog>


<h1>Blog List</h1>
    <ul>
        
        @foreach (var blog in Model)
        {
            
            <li>@blog.BlogId @blog.Url</li>
            <ul>
                
                @foreach (var post in blog.Posts){
                    <p>@post</p>
                  <li>@post.Title @post.Content</li>
                }
            </ul>
        }
    </ul>